{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<!DOCTYPE HTML>

{%  if angularapp %}
<html lang="{{ LANGUAGE_CODE }}" ng-app="{{ angularapp }}" class="main">
{% else %}
<html lang="{{ LANGUAGE_CODE }}" class="main">
{% endif %}
<head>
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}
    {% endblock %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, width=device-width, initial-scale=1.0">

    {% block style_base %}
        {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
                    <script src="{% static 'pinax/js/html5shiv.js' %}"></script>
                <![endif]-->
    {% endblock %}

    {% block head_script %}
    {% endblock %}

    {% block page_style %}
    {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
    <section class="body_wrapper {% block wrapper_class %}{% endblock %}">
        {% block header_bar_base %}
            <div id="topbar" class="topbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                {% block header_bar_images %}
                {% endblock header_bar_images %}
                {% block header_bar_nav %}
                    <nav>
                        <a href="{% url 'home' %}">HOME</a>
                    </nav>
                {% endblock header_bar_nav %}
            </div>
        {% endblock header_bar_base %}

        {% block page_header_base %}
            <section class="page_header">
                <h3>Boise Ditch Company</h3>
                {% block page_header_bottom %}
                    {% comment %}
                    <div class="page_header_bottom">
                        <nav>
                            <a href="{% url 'gardentips' %}">BEGINNER'S GUIDE TO GARDENING</a>
                            <a href="{% url 'featured_gardeners' %}">FEATURED GARDENS</a>
                            <a href="{% url 'nurseries' %}">TREASURE VALLEY NURSERIES</a>
                        </nav>
                    </div>
                    {% endcomment %}
                {% endblock page_header_bottom %}
            </section>
        {% endblock page_header_base %}

        {% block body_base %}
            <section class="container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock body %}
            </section>
        {% endblock body_base %}

        {% block footer_base %}
            <hr/>
            <footer>
            </footer>
        {% endblock footer_base %}
    </section>


    {% block body_script %}
        <!-- base.html: body_script -->
        <script src="{% static 'js/library/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/underscore.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/jquery.download.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/library/json2.js' %}" type="text/javascript"></script>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

    {% endblock %}

    {% block extra_script %}
        <!-- base.html: body_extra_script -->
    {% endblock %}

    {% block page_script %}
        <!-- base.html: body_page_script -->
    {% endblock %}

    {% block body_script_final %}
        <!-- base.html: body_script_final -->
    {% endblock %}

</body>
</html>
