{%  extends 'site_base.html' %}
{% load staticfiles %}

{% block title %}Boise Ditch Company{% endblock %}
{% block body %}
    <h1>Boise Ditch Company</h1>

    <div id='ditchcontrol'  ng-controller='DitchController'>
        <button ng-click="toggleState('north')" ng-bind="states['north'].label"></button>
        <button ng-click="toggleState('south')" ng-bind="states['south'].label"></button>
        <button ng-click="toggleState('pump')" ng-bind="states['pump'].label"></button>

        <ul>
            <li>Ditch Level:<span ng-bind="ditch.level"></span></li>
            <li>Ditch Alarm:<span ng-bind="ditch.alarm"></span></li>
            <li>Sump Level:<span ng-bind="info.sump_inches"></span></li>
            <li>Pump Status:<span ng-bind="info.pump_on"></span> Call:<span ng-bind="info.pump_call"></span></li>
            <li>North Status:<span ng-bind="info.north_on"></span> Call:<span ng-bind="info.north_call"></span></li>
            <li>South Status:<span ng-bind="info.south_on"></span> Call:<span ng-bind="info.south_call"></span></li>
        </ul>

        <p>Technical Details</p>
        <ul>
            <li>Ditch Reading:<span ng-bind="info.ditch_reading"></span></li>
            <li>Sump Reading:<span ng-bind="info.sump_reading"></span></li>
        </ul>

    </div>

    <div id="ditch_level">
        Ditch Level

    </div>

{% endblock body %}

{% block angular_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/angular/apps/ditchapp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/services/socket_service.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/controllers/DitchController.js' %}"></script>
{% endblock %}


{% block ditch_script %}
    {{ block.super }}

    <script src="http://code.highcharts.com/highcharts.js" charset="utf-8"></script>

    <script type="text/javascript">
    var DitchParams = (typeof DitchParams  == 'undefined') ? {} : DitchParams;
    DitchParams = _.extend(
            {
                statusPollRate : {{ ditch_poll_rate }}
            },DitchParams);

    </script>


{% endblock %}

{% block footer %}
    {{ block.super }}
    <h3>Thanks for dropping by.</h3>
{% endblock %}
