{%  extends 'site_base.html' %}
{% load staticfiles %}

{% block title %}Boise Ditch Company{% endblock %}
{% block body %}
    <h1>Boise Ditch Company</h1>

    <div id='ditchcontrol'  ng-controller='DitchController'>
        <button ng-click="ditchStart('north')">Start North</button>
        <button ng-click="ditchStart('south')">Start South</button>
        <button ng-click="ditchStop()">Stop</button>

        <ul>
            <li>Ditch Level:<span ng-bind="info.ditch_inches"></span></li>
            <li>Sump Level:<span ng-bind="info.sump_inches"></span></li>
            <li>Pump Status:<span ng-bind="info.pump_on"></span></li>
            <li>North Status:<span ng-bind="info.north_on"></span></li>
            <li>South Status:<span ng-bind="info.south_on"></span></li>
        </ul>
    </div>

{% endblock body %}

{% block angular_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/angular/apps/ditchapp.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/controllers/DitchController.js' %}"></script>
{% endblock %}


{% block footer %}
<h3>Thanks for dropping by.</h3>
{% endblock %}
